<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        layout:decorate="layout">
<head>

</head>
<body>
<section layout:fragment="content">

<div class="container-xl">

    <div class="alert alert-success mt-2" role="alert" th:text="${success}" th:if="${success}"></div>



    <form th:action="@{/}" method="get">
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" th:value="${keyWord}"  class="form-control" name="keyWord"  placeholder="Your Key word" />
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Serarch</button>
                </div>
            </div>
        </div>
    </form>


    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Students </b></h2>
                    </div>
                    <div sec:authorize="hasAuthority('ADMIN')" class="col-sm-6">
                        <a th:href="@{/download-pdf}" class="btn btn-primary">
                           <span>
                               <img th:src="@{/images/pdf_icon.png}" height="20" width="20">
                           </span>
                            <span>Download pdf</span>
                        </a>

                        <a th:href="@{/new}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Add New Student</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                    </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student: ${students}">
                    <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
                    </td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.email}"></td>
                    <td th:text="${student.address}"></td>
                    <td th:text="${student.phone}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/edit/{id}(id=${student.id})}"  class="edit" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a
                                th:data-confirm-delete="|Are you sure you want to delete this student ?|"
                                onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"

                                th:href="@{/delete/{id}(id=${student.id})}" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>


            <nav aria-label="Page navigation example">
                <ul class="pagination mt-4">
                    <li th:class="${currentPage==status.index} ? 'active' : '' " class="page-item" th:each="page, status: ${pages}">
                        <a th:href="@{/(page=${status.index}, keyWord=${keyWord})}" class="page-link" th:text="${status.index}"></a>
                    </li>
                </ul>
            </nav>



        </div>
    </div>
</div>
</section>
</body>
</html>