<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>

    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="text-center">

<section layout:fragment="content">
    <form class="form-signin" th:action="@{/register}" th:object="${user}" method="post">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" th:field="*{username}" name="username" id="inputEmail" class="form-control mb-3" placeholder="Username" required autofocus>


        <label for="Email" class="sr-only">Email</label>
        <input type="text" th:field="*{email}" name="username" id="Email" class="form-control mb-3" placeholder="Username" required autofocus>


        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" th:field="*{password}" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
    </form>
</section>

</body>
</html>